* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: greenyellow;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 0.8rem;
  line-height: 1.2;
}

img {
  width: 100%;
}

.container {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.quiz-box {
  width: 550px;
  margin: 0 auto;
  background-color: #eee;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 0.5rem;
}

.quiz-box h1 {
  background-color: rgb(97, 20, 20);
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 3px;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  color: grey;
  font-size: 1.2rem;
  font-weight: 600;
}

.count-down {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: orangered;
  padding: 5px;
  margin: 1px;
  color: #fff;
  border-radius: 3px;
}

.question {
  font-size: 1.3rem;
  font-weight: 600;
  color: orangered;
  border: 1px solid #777;
  padding: 5px 0;
  border-width: 1px 0;
  margin: 15px 0;
}

.buttons {
  margin: 1.5rem 0 4rem 0;
}

.btn {
  background-color: #ddd;
  border: 1px solid grey;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.2rem;
  outline: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(34, 34, 201);
  color: white;
}

.btn:active {
  background-color: rgb(13, 255, 122);
}

.score {
  color: #000;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.quiz-repeat {
  text-align: center;
  margin: 0 auto;
}

.quiz-repeat a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  background-color: rgb(34, 34, 201);
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.quiz-repeat a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 699px) {
  .container {
    margin: 40px 20px 0 20px;
  }
  .quiz-box {
    width: 100%;
  }

  .question,
  .progress,
  .count-down {
    font-size: 1rem;
  }
}
